.player {
    min-height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .time-controls {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
            width: 5rem;
            padding: 1rem;
            font-size: clamp(1rem, 4vw, 1.5rem);
        }
        .track {
            width: 100%;
            height: 0.5rem;
            position: relative;
            border-radius: 1rem;
            padding: 0.5rem 0;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            input {
                width: 100%;
                height: 100%;
                cursor: pointer;
                -webkit-appearance: none;
                background: transparent;
                border: 0;
                &:focus {
                    border: 0;
                    outline: 0;
                }
                &::-webkit-slider-thumb {
                    appearance: none;
                    height: 14px;
                    width: 14px;
                }
                &::-moz-range-thumb {
                    appearance: none;
                    height: 14px;
                    width: 14px;
                    background: transparent;
                    border: 0;
                }
            }
            .thumb {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                // background: rgb(212, 212, 212);
                background: rgb(231, 231, 231);
                pointer-events: none;
                transform: translateX(100%);
            }
        }
    }
    .play-controls {
        width: 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .icon {
            font-size: clamp(1.25rem, 5vw, 2rem);
            cursor: pointer;
            transition: color ease-out 0.1s;
            &:hover {
                color: #1f1f1f;
            }
        }
    }
}

@media screen and (max-width:1024px) {
    .player {
        .time-controls {
            width: 60%;
        }
        .play-controls {
            width: 40%;
        }
    }
}

@media screen and (max-width:768px) {
    .player {
        .time-controls {
            width: 70%;
        }
    }
}

@media screen and (max-width:425px) {
    .player {
        .time-controls {
            width: 95%;
        }
        .play-controls {
            width: 60%;
        }
    }
}