* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: poppins;
    font-display: optional;
    width: 100%;
}

.App {
    transition: margin ease-in-out 0.5s;
}

.adjust {
    margin-left: 25%;
}

@media screen and (max-width:768px) {
    .adjust {
        margin-left: 0%;
    }
}

@import './playerBg';
@import './nav';
@import './player';
@import './song';
@import './library';