* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
       user-select: none;
  font-family: poppins;
  font-display: optional;
  width: 100%;
  height: 100vh;
}

.App {
  -webkit-transition: margin ease-in-out 0.5s;
  transition: margin ease-in-out 0.5s;
  height: 100vh;
}

.adjust {
  margin-left: 25%;
}

@media screen and (max-width: 768px) {
  .adjust {
    margin-left: 0%;
  }
}

.playerBg {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #272727;
}

.playerBg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.playerBg::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(148, 148, 148, 0.35);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

nav {
  position: relative;
  height: 8vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav h1 {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
}

nav h1 span {
  color: #ff4b5c;
}

nav button {
  font-size: 1.5rem;
  background: transparent;
  padding: 0.7rem 0.8rem;
  outline: 0;
  border: 1px solid #3a3a3a;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

nav button:hover {
  background: #3a3a3a;
  color: white;
}

@media screen and (max-width: 768px) {
  nav button {
    font-size: clamp(0.9rem, 4vw, 1.5rem);
    background: transparent;
    padding: 0.6rem 0.7rem;
  }
}

.player {
  min-height: 20vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.player .time-controls {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.player .time-controls p {
  width: 5rem;
  padding: 1rem;
  font-size: clamp(1rem, 4vw, 1.5rem);
}

.player .time-controls .track {
  width: 100%;
  height: 0.5rem;
  position: relative;
  border-radius: 1rem;
  padding: 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.player .time-controls .track input {
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-appearance: none;
  background: transparent;
  border: 0;
}

.player .time-controls .track input:focus {
  border: 0;
  outline: 0;
}

.player .time-controls .track input::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  height: 14px;
  width: 14px;
}

.player .time-controls .track input::-moz-range-thumb {
  -moz-appearance: none;
       appearance: none;
  height: 14px;
  width: 14px;
  background: transparent;
  border: 0;
}

.player .time-controls .track .thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e7e7e7;
  pointer-events: none;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.player .play-controls {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player .play-controls .icon {
  font-size: clamp(1.25rem, 5vw, 2rem);
  cursor: pointer;
  -webkit-transition: color ease-out 0.1s;
  transition: color ease-out 0.1s;
}

.player .play-controls .icon:hover {
  color: #1f1f1f;
}

@media screen and (max-width: 1024px) {
  .player .time-controls {
    width: 60%;
  }
  .player .play-controls {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  .player .time-controls {
    width: 70%;
  }
}

@media screen and (max-width: 425px) {
  .player .time-controls {
    width: 95%;
  }
  .player .play-controls {
    width: 60%;
  }
}

.song-container {
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.song-container img {
  display: inline-block;
  width: 20%;
  border-radius: 50%;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
  background: #666666;
}

.song-container h2 {
  padding: 3rem 1rem 0rem 1rem;
  font-weight: 600;
  font-size: clamp(1.25rem, 5vw, 2rem);
}

.song-container h3 {
  padding: 0rem 1rem;
  font-weight: 300;
  font-size: clamp(1rem, 4vw, 1.5rem);
}

.rotateCover {
  -webkit-animation: rotate 15s infinite linear;
          animation: rotate 15s infinite linear;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media screen and (max-width: 1024px) {
  .song-container img {
    width: 30%;
  }
}

@media screen and (max-width: 768px) {
  .song-container img {
    width: 40%;
  }
}

@media screen and (max-width: 425px) {
  .song-container img {
    width: 50%;
  }
}

.library {
  width: 25%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  overflow: hidden scroll;
  -webkit-box-shadow: 5px 2px 15px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 2px 15px 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
  background: rgba(255, 255, 255, 0.5);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  scrollbar-width: thin;
  scrollbar-color: #909090 transparent;
}

.library .libraryNav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.library .libraryNav h2 {
  margin: 0.5rem 0 1rem 3rem;
  font-size: 1.75rem;
}

.library .libraryNav svg {
  display: none;
  font-size: 1.5rem;
  margin: 0.5rem 2rem 1rem 0;
  cursor: pointer;
}

.library .songList {
  width: 100%;
}

.library .songList .library-song {
  width: 100%;
  padding: 2rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  -webkit-transition: background ease-in 0.3s, -webkit-transform ease-out 0.3s;
  transition: background ease-in 0.3s, -webkit-transform ease-out 0.3s;
  transition: transform ease-out 0.3s, background ease-in 0.3s;
  transition: transform ease-out 0.3s, background ease-in 0.3s, -webkit-transform ease-out 0.3s;
}

.library .songList .library-song:hover {
  background: #dbf2ff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.library .songList .library-song img {
  border-radius: 15px;
  width: 40%;
  -o-object-fit: cover;
     object-fit: cover;
  display: inline-block;
}

.library .songList .library-song .song-description {
  width: 50%;
}

.library .songList .library-song .song-description h3 {
  font-size: 1.15rem;
  font-weight: 400;
}

.library .songList .library-song .song-description h4 {
  font-size: 0.9rem;
  font-weight: 300;
}

.library .songList .selected {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: #c4e9ff;
}

.library .songList .selected:hover {
  background: #c4e9ff;
}

.library::-webkit-scrollbar {
  width: 5px;
}

.library::-webkit-scrollbar-track {
  background: transparent;
}

.library::-webkit-scrollbar-thumb {
  background: #909090;
  border-radius: 20px;
  border: transparent;
}

.libraryVisible {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .library {
    width: 30%;
  }
}

@media screen and (max-width: 768px) {
  .library {
    background: white;
    width: 100%;
  }
  .library .libraryNav h2 {
    font-size: clamp(1.75rem, 7vw, 3rem);
  }
  .library .libraryNav svg {
    display: block;
  }
  .library .songList .library-song img {
    width: 35%;
  }
  .library .songList .library-song .song-description {
    width: 50%;
  }
  .library .songList .library-song .song-description h3 {
    font-size: clamp(1rem, 5vw, 1.5rem);
    font-weight: 400;
  }
  .library .songList .library-song .song-description h4 {
    font-size: clamp(0.7rem, 3vw, 1.1rem);
    font-weight: 300;
  }
}
/*# sourceMappingURL=app.css.map */